
/* CUSTOM FORM FIELDS */
select.selectmultiple {
  width: 100%;
  height: 120px;
}
.select2-container{
  max-width: 100%;
}
.select2-container.form-control{
  padding: 0px;
  border: 0px;
}
.select2-container .select2-choice {
  height: 35px;
  padding-top: 3px;
}

/* form css */
.form-container .column{
  min-height: 60px;
}

/* Fix: Crispy form is not using ".text-danger" class*/
.asteriskField, .asterisk-field {
  color: red;
}

.form-inline label {
    display: block !important;
}

@media (min-width: 768px) {
  .input-group.date {
    max-width: 300px;
  }

  .input-group.time {
    max-width: 190px;
  }

  .int-field {
    max-width: 100px;
  }

  .datetime > .input-group {
    float: left;
    margin-right: 5px;
  }

  .datetime > .input-group:last-child {
    margin-right: 0px;
  }

  select.selectmultiple {
    max-width: 350px;
  }

  .sidebar .input-group.date,
  .sidebar .input-group.time {
    max-width: 100%;
    min-width: 188px;
  }

  .sidebar .datetime {
    display: flex;
    flex-wrap: wrap;
  }

  .sidebar .datetime > .input-group {
    float: none;
    margin-bottom: 5px;
    width: auto;
    flex: 1 1;
  }

  .sidebar .datetime > .input-group:last-child {
    margin-right: 5px;
  }

  .form-actions.fixed {
    position: fixed;
    bottom: 25px;
    z-index: 295;
    margin-left: -10px;
    right: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }

  .form-horizontal .form-inline .form-group {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .btn-toolbar.top-toolbar {
    margin: 0 10px 10px;
    text-align: right;
  }
}

/** detail page **/
img.field_img {
  max-height: 100px;
}

/** revision form **/

.diff_field .controls{
  background-color: #FCF8E3;
}

/** selectize **/
.selectize-input {
  vertical-align: bottom;
}

/** batch-field **/
.batch-field-wrap input[type="checkbox"].form-control {
    width: auto;
    height: auto;
}
.batch-field-wrap input[type="checkbox"].form-control:focus {
  color: inherit;
  border-color: transparent;
  box-shadow: none;
}

/* xadmin.plugin.portal */
.card-header .btn.btn-link {
  height: auto;
  font-size: inherit;
}