{% extends base_template %}
{% load i18n xadmin_tags %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6">
            <div class="card card-single">
                <div class="card-header">
                    <h3 class="form-signin-heading">{% trans 'Password reset successful' %}</h3>
                </div>
                <div class="card-body">
                    <p class="text-success lead">{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
                    <p class="text-center"><a href="{{ login_url }}" class="btn btn-primary">{% trans 'Log in' %}</a></p>
                </div>
            </div>  
        </div>
    </div>

</div> <!-- /container -->
{% endblock %}