{% extends base_template %}
{% load i18n xadmin_tags %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container">

  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6">
      <div class="card card-single">
        {% if validlink %}
        <div class="card-header">
          <h3 class="form-signin-heading">{% trans 'Enter new password' %}</h3>
        </div>
        <form action="" method="post" id="password-reset-confirm" {% view_block 'form_tag_attrs' %}>
        <div class="card-body">
          {% csrf_token %}
          <p class="text-info">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
          {% crispy form %}
          <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">{% trans 'Change my password' %}</button>
        </div>
        </form>
        {% else %}
        <div class="card-header">
          <h2 class="form-signin-heading">{% trans 'Password reset unsuccessful' %}</h2>
        </div>
        <div class="card-body">
          <p class="text-danger">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</div> <!-- /container -->
{% endblock %}