{% extends base_template %}
{% load i18n xadmin_tags %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container">

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-9 col-md-9 col-lg-7 col-xl-6">
            <div class="card card-single">
                <div class="card-header">
                    <h3 class="form-signin-heading">{% trans 'Password reset successful' %}</h3>
                </div>
                <div class="card-body">
                    <p class="text-success">{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
                </div>
            </div>
        </div>
    </div>

</div> <!-- /container -->
{% endblock %}