{% load i18n %}
<div class="dropdown-submenu filter-multiselect">
  <a class="dropdown-item">
      <i class="fa fa-filter {% if spec.is_used %}text-success{%else%}text-muted{% endif %}"></i>
      {{ title }}
  </a>
  <div class="dropdown-menu">
    {% for choice in choices %}
        <a class="dropdown-item"
            href="{% if choice.selected %}{{ choice.remove_query_string|iriencode }}{% else %}{{ choice.query_string|iriencode }}{% endif %}"
            {% if choice.selected %} class="active"{% endif %}>
            <input type="checkbox" {% if choice.selected %} checked="checked"{% endif %}>
            {{ choice.display }}
        </a>
    {% endfor %}
  </div>
</div>