{% load i18n %}
<div class="dropdown-submenu filter-date">
  <a class="dropdown-item">
      <i class="fa fa-filter {% if spec.is_used %}text-success{%else%}text-muted{% endif %}"></i>
      {{ title }}
  </a>
  <div class="dropdown-menu">
    {% for choice in choices %}
      <a href="{{ choice.query_string|iriencode }}" class="dropdown-item {% if choice.selected %} active{% endif %}">
          {{ choice.display }}
      </a>
    {% endfor %}
    <div class="dropdown-submenu menu-choice-date{% if choice_selected %} active{% endif %}">
      <a class="dropdown-item">{% trans "Choice Date" %}</a>
      <div class="popover right p-2">
        <div class="arrow"></div>
        <h5 class="popover-title">{% trans "Choice Date" %}</h5>
        <div class="popover-content">
          <form method="get" action="">
            <div class="form-row">
              <div class="col">
                {{ form_params|safe }}
                <div class="input-group row">
                  <div class="input-group-append">
                  <span class="input-group-text">{% trans "YY" %}</span>
                  </div>
                 <input name="{{year_name}}" class="choice-year form-control  float-left" type="text" placeholder="{% trans "year" %}" size="4" value="{{year_val}}">
                </div>

                <div class="input-group row">
                 <div class="input-group-append">
                  <span class="input-group-text">{% trans "MM" %}</span>
                 </div>
                 <input name="{{month_name}}" class="choice-month form-control" type="text" placeholder="{% trans "month" %}" size="2" value="{{month_val}}">
                </div>

                <div class="input-group">
                  <div class="input-group-append">
                   <span class="input-group-text">{% trans "DD" %}</span>
                  </div>
                  <input name="{{day_name}}" class="choice-day form-control" type="text" placeholder="{% trans "day" %}" size="2" value="{{day_val}}">
                 </div>

                <div class="row justify-content-center">
                <button class="btn btn-success btn-block mt-3" type="submit">{% trans "Apply" %}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="dropdown-submenu menu-date-range">
      <a class="dropdown-item">{% trans "Date Range" %}</a>
      <div class="popover bottom">
        <div class="arrow"></div>
        <div class="popover-content">
        <form method="get" action="" class="clearfix">
            <div class="form-row">
             <div class="col">
               <div class="row justify-content-center hide-xs">
                <h5>{% trans "Select Date" %}</h5>
               </div>

               <div class="row">
                <div class="col-lg">
                 <div class="input-group hide-xs">
                  <div class="input-group-append">
                   <span class="input-group-text">{% trans "From" %}</span>
                  </div>
                  <input class="form-control start_input" type="text" name="{{ since_name }}" value="{{ since_val }}" id="ft-{{ since_name }}"/>
                 </div>
                 <div class="calendar date-start" data-date="{{ since_val }}"></div>
                </div>

                <div class="col-lg">
                 <div class="input-group hide-xs">
                   <div class="input-group-append">
                    <span class="input-group-text">{% trans "To" %}</span>
                   </div>
                   <input class="form-control end_input" type="text" name="{{ until_name }}" value="{{ until_val }}" id="ft-{{ until_name }}"/>
                  </div>
                  <div class="calendar date-end" data-date="{{ until_val }}"></div>
                 </div>
              </div>
              <div class="row justify-content-center">
                <button type="submit" class="btn btn-success  pl-5 pr-5">{% trans "Apply" %}</button>
               </div>
             </div>
            </div>
          {{ form_params|safe }}
        </form>
        </div>
      </div>
    </div>
  </div>
</div>