{% load i18n %}
<div class="dropdown-submenu filter-date">
  <a class="dropdown-item">
      <i class="fa fa-filter {% if spec.is_used %}text-success{%else%}text-muted{% endif %}"></i>
      {{ title }}
  </a>
  <div class="dropdown-menu">
    {% for choice in choices %}
      <a href="{{ choice.query_string|iriencode }}" class="dropdown-item {% if choice.selected %} active{% endif %}">
          {{ choice.display }}
      </a>
    {% endfor %}
    <div class="dropdown-submenu menu-choice-date{% if choice_selected %} active{% endif %}">
      <a class="dropdown-item">{% trans "Choice Date" %}</a>
      <div class="popover right">
        <div class="arrow"></div>
        <div class="popover-header justify-content-center d-none d-md-flex">
          <h6 class="mb-0">{% trans "Choice Date" %}</h6>
        </div>
        <div class="popover-body">
          <form method="get" action="">
            <div class="form-row justify-content-center">
              <div class="col-auto">
                {{ form_params|safe }}

              <div class="row">
              <div class="col">
                <label class="sr-only" for="id_{{ year_name }}">{% trans "year" %}</label>
                <div class="input-group">
                  <div class="input-group-append">
                  <span class="input-group-text text-monospace">{% trans "YY" %}</span>
                  </div>
                 <input type="text" name="{{year_name}}" id="id_{{ year_name }}" class="choice-year form-control" placeholder="{% trans "year" %}" size="4" value="{{year_val}}">
                </div>
              </div>
              </div>

              <div class="row">
              <div class="col">
                <label class="sr-only" for="id_{{ month_name }}">{% trans "month" %}</label>
                <div class="input-group">
                 <div class="input-group-append">
                  <span class="input-group-text text-monospace">{% trans "MM" %}</span>
                 </div>
                 <input type="text" name="{{month_name}}" id="id_{{ month_name }}" class="choice-month form-control" placeholder="{% trans "month" %}" size="2" value="{{month_val}}">
                </div>
              </div>
              </div>

              <div class="row">
               <div class="col">
                <label class="sr-only" for="id_{{ day_name }}">{% trans "day" %}</label>
                <div class="input-group">
                  <div class="input-group-append">
                   <span class="input-group-text text-monospace">{% trans "DD" %}</span>
                  </div>
                  <input type="text" name="{{day_name}}" id="id_{{ day_name }}" class="choice-day form-control" placeholder="{% trans "day" %}" size="2" value="{{day_val}}">
                 </div>
                </div>
               </div>

                <div class="row justify-content-center">
                 <button class="btn btn-success btn-sm mt-1 pl-5 pr-5" type="submit">{% trans "Apply" %}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="dropdown-submenu menu-date-range">
      <a class="dropdown-item">{% trans "Date Range" %}</a>
      <div class="popover bottom">
        <div class="arrow"></div>
        <div class="popover-header justify-content-center d-none d-md-flex">
          <h6 class="mb-0">{% trans "Select Date" %}</h6>
        </div>
        <div class="popover-body">
        <form method="get" action="" class="clearfix">
            <div class="form-row">
             <div class="col">

               <div class="row">
                <div class="col-lg">
                 <div class="input-group hide-xs">
                  <div class="input-group-append">
                   <span class="input-group-text">{% trans "From" %}</span>
                  </div>
                  <input class="form-control start_input" type="text" name="{{ since_name }}" value="{{ since_val }}" id="ft-{{ since_name }}"/>
                 </div>
                 <div class="calendar date-start" data-date="{{ since_val }}"></div>
                </div>

                <div class="col-lg">
                 <div class="input-group hide-xs">
                   <div class="input-group-append">
                    <span class="input-group-text">{% trans "To" %}</span>
                   </div>
                   <input class="form-control end_input" type="text" name="{{ until_name }}" value="{{ until_val }}" id="ft-{{ until_name }}"/>
                  </div>
                  <div class="calendar date-end" data-date="{{ until_val }}"></div>
                 </div>
              </div>
              <div class="row justify-content-center">
                <button type="submit" class="btn btn-success btn-sm pl-5 pr-5">{% trans "Apply" %}</button>
               </div>
             </div>
            </div>
          {{ form_params|safe }}
        </form>
        </div>
      </div>
    </div>
  </div>
</div>