{% load i18n xadmin_tags %}
<li class="nav-item dropdown g-theme">
 <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#">
  <i class="fa fa-magic"></i>
  <span class="hide-sm">{% trans "Themes" %}</span>
 </a>
 <div id="g-theme-menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
  {% for t in themes %}
    <a class="dropdown-item {% if t.css == select_css %}active{% endif %}" data-css-href="{{t.css}}" href="#">
        {{t.name}}
    </a>
  {% endfor %}
 </div>
</li>