{% load i18n xadmin_tags %}
{% autoescape off %}
{% if search_models %}
<form method="get" class="top-search-form form-inline" id="g-search">
    <div class="btn-group">
        <label for="g-search-text"></label>
        <input id="g-search-text" class="form-control mr-1" name="{{ search_name }}" type="text">
        <button class="btn btn-info btn-sm dropdown-toggle rounded" type="button" data-toggle="dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-search"></i>
            {% trans "Search" %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for m in search_models %}
                <a class="dropdown-item" data-action="{{ m.url }}" >
                    <i class="fa fa-search"></i>
                    {{ m.title }}
                </a>
            {% endfor %}
        </div>
    </div>
</form>
{% endif %}
{% if add_models %}
<li class="nav-item dropdown g-add">
  <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#">
  <i class="fa fa-plus"></i> <span class="hide-sm">{% trans "Add" %}</span></a>
  <div id="g-add-menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% for m in add_models %}
      <a class="dropdown-item" href="{{m.url}}"><i class="fa fa-plus"></i> {{m.title}}</a>
    {% endfor %}
  </div>
</li>
{% endif %}
{% endautoescape %}
