{% load i18n %}
<div class="btn-group refresh">
  <a class="dropdown-toggle btn btn-primary btn-light btn-sm" data-toggle="dropdown" href="#">
    <i class="fa fa-refresh"></i>
      {% if has_refresh %}<span id="refresh_time">{{current_refresh}}</span>{% endif %}
      <span class="caret"></span>
  </a>
  <div class="dropdown-menu" aria-labelledby="dLabel">
    {% if has_refresh %}
      <a class="dropdown-item" href="{{clean_refresh_url}}"><i class="fa fa-blank"></i> {% trans "Clean Refresh" %}</a>
    <li class="divider"></li>
    {% endif %}
    {% for r in refresh_times %}
      <a class="dropdown-item{% if r.selected %} active{% endif %}" href="{{r.url}}">
          <i class="fa fa-time"></i>
        {% blocktrans with r.time as t %}Every {{ t }} seconds{% endblocktrans %}
      </a>
    {% endfor %}
  </div>
</div>