{% load i18n %}
<div class="dropdown">
  <a id="drop-filter" class="dropdown-toggle btn" role="button" data-toggle="dropdown" href="#"
        aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-filter" title="{% trans "Filters" %}"></i>
      <span class="d-md-none d-lg-inline-block">{% trans "Filters" %}</span>
      {% if cl.used_filter_num > 0 %}
        <span class="badge badge-success">{{cl.used_filter_num}}</span>
      {% endif %}
  </a>
  <div id="filter-menu" class="dropdown-menu" aria-labelledby="drop-filter">
    {% if cl.has_query_param %}
    <a class="dropdown-item" href="{{cl.clean_query_url}}">
        <i class="fa fa-trash-o"></i>
        {% trans "Clean Filters" %}
    </a>
    <div class="dropdown-divider"></div>
    {% endif %}
  	{% for spec in cl.filter_specs %}{{ spec|safe }}{% endfor %}
  </div>
</div>