{% load i18n %}
{% if cl.search_fields %}
<form class="flex-grow-1" action="" method="get">
    <div class="input-group search-group justify-content-lg-end">
    {% if cl.search_query %}
      <span class="input-group-prepend">
        <a class="input-group-text btn" href="{{remove_search_url}}">
          <i class="fa fa-times-circle"></i>
        </a>
      </span>
    {% endif %}
    <input id="searchbar" class="form-control" type="text" name="{{ search_var }}" value="{{ cl.search_query }}" placeholder="{% trans 'Search' %} {{cl.opts.verbose_name}}">
    <span class="input-group-append"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></span>
    </div>
    {{ search_form_params|safe }}
</form>
{% endif %}